p
  a(href='/about') About Metris

p
  = playerCount
  |  people played
  = gameCount
  |  games so far


ul#games
  - for(game in games){
    - if (games[game].grid.numberOfPlayers() < 11){
      li
        a(href='/game/#{game}')
          | Players:
          = games[game].grid.numberOfPlayers()
          \ -
          |Score:
          = games[game].grid.score
          canvas.mini-map(id="game-map-#{game}", width="318", height="48")
          script(type="text/javascript")
            new Tetris.StaticMiniMap("game-map-#{game}", !{JSON.stringify(games[game].grid.blocks())});
        ul.players
          - for(twitterUsername in games[game].grid.twitterUsers()){
            li
              - if(username = games[game].grid.twitterUsers()[twitterUsername]){
                a(href="http://twitter.com/#{username}")
                  img(src="http://api.twitter.com/1/users/profile_image?screen_name=#{username}&size=mini", alt=username)
              - } else {
                a(href="http://twitter.com/forwardtek")
                  img(src="http://api.twitter.com/1/users/profile_image?screen_name=forwardtek&size=mini", alt='Unkown User')
              - }
          - }
    - }
  - }

p
  a.new-game(href="/game/#{newGame}") Start a new game
